---
layout: default
title: Gristly Rumors
---
<ul>
{% for ite in site.categories.main %}
<li>skjd
{% endfor %}
 </ul>
					{% for post in site.posts %}
					<div class="post">
						<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p><strong>{{ post.date | date_to_string }}</strong></p>
							{{ post.content | truncatewords:200  }}
							<p><a href="{{ post.url }}">more...</a></p>
						</div>
					</div>

	  {% endfor %}
